.main .commentList {
    max-width: 1024px;
    margin: 0 auto;
}

.main .commentList .comment {
    color: #8f8f8f;
    background-color: #ffffff;
    padding: 30px 40px;
    margin: 20px 0;
    font-family: 'Mukta', sans-serif;
}

.main .commentList .comment h1 {
    margin: 0 0 15px 0;
    padding: 0;
    color: #000000;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

